<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Залікова робота</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Писарєв Владислав</ion-title>
  </ion-toolbar>
    <ion-toolbar>
      <ion-title size="large">Завдання</ion-title>
        <p>Розробити сервіс для вирішення наступної задачі
            Задано масив координат точок X[N,2]. Cеред його елементів знайти точки, які належать квадрату з заданою стороною, правий нижній кут якого знаходитьця у центрі координат.
            Якщо точка належить квадрату то зафорбовується у зелений колір, якщо ні то у червоний.
            </p>
      </ion-toolbar>
      <ion-toolbar>
        
          <p> Я не встиг дороботи і почистити проет від файлів 8 лабораторної. 
            В завданні написано задано масив з точками X [N,2] як я зрозумів координата y завжди 2
            тому я зробив перевірку тільки по одному числу 
            файли в яких я робив зміни це:
          </p>
          <p>insquare.service.ts в цьому ж файлі є координати квадрату</p>
          <p>myform.component.html/p>
          <p>myform.component.ts  метод InSquare</p>
        </ion-toolbar>
</ion-header>